---
layout: default
title: Writing
categories:
- writing
---
<div class="content-list">
  {% for post in site.categories.writing  %}
    {% for services in post.services %}
        {% unless result contains services %}
           {% capture result %}{{ result }}|{{ services }}{% endcapture %}
        {% endunless %}
      {% endfor %}
    {% endfor %}

      {% assign myArray = {{result}} | split: "|" | sort | %}

  <h1 class="page-heading-caps padding-below-half">Writing</h1>
<!--   <ul id="filter" class="navigation">
    {% for theservice in myArray %}
    {% if theservice == '' %}
        <li id="nav-country-{{theservice | downcase | replace: ' ', '-'}}"><a href="#{{theservice | downcase | replace: ' ', '-'}}">All writing</a></li>
    {% else %}
        <li id="nav-country-{{theservice | downcase | replace: ' ', '-'}}"><a href="#{{theservice | downcase | replace: ' ', '-'}}">{{theservice}}</a></li>
    {% endif %}
    {% endfor %}
  </ul> -->

  {% for post in site.categories.writing  %}
  <article class="work-article {% for service in post.services %}{{service | downcase | replace: ' ', '-'}} {% endfor %}">
    <h1 class="work-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="work-excerpt">{{ post.excerpt }}</p>
  </article>
  {% endfor %}
</div>




