---
layout: default
title: Writing
categories:
- work
---
	
	<div class="content-list">		

		<h1 class="alpha">Testing zone</h1>

		<h2>Getting a list of all services and removing duplicates</h2> 

				{% assign result = array[1] %}

		{% for post in site.categories.work %}

				{% for service in post.services %}
					
				{% unless result contains service %}
			        {% capture result %}{{ result }}|{{ service }}{% endcapture %}
			  {% endunless %}      

	     {% endfor %}

	
			{% endfor %}

			{{ result | split: '|' | sort | join: ', ' }}

			<h2>Filtering a list by a particular service</h2> 

			{% for post in site.categories.work %}

				{% for service in post.services %}
				{% if service == "Digital development" %}
	        <h1 class="work-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
	     	{% endif %} 

	     {% endfor %}

	
			{% endfor %}

	</div>




