---
layout: default
title: Work
permalink: /work/
categories:
- work
---

<div class="content-list pt4 pb2">

  {% for post in site.work %}
  {% for services in post.services %}
  {% unless result contains services %}
  {% capture result %}{{result}}|{{services}}{% endcapture %}
  {% endunless %}
  {% endfor %}
  {% endfor %}

  {% assign myArray = result | split: "|" | sort %}

  <h1 class="f3 ttu fw4 tracked mt5-l mb2">Work</h1>
  <p class="i light-silver m0">I'm a user-experience designer and web developer with lots of experience in discovery
    and alpha phases, using design methodologies to
    define problems and develop and test solutions. I create standards-driven
    CSS, HTML and JavaScript built for mobile, accessibility and performance.</p>

  <!--     <ul id="filter" class="navigation pb4">
      {% for theservice in myArray %}
      {% if theservice == '' %}
          <li id="nav-country-{{theservice | downcase | replace: ' ', '-'}}" class="no-margin-below filter"><a href="#{{theservice | downcase | replace: ' ', '-'}}">All</a></li>
      {% else %}
          <li id="nav-country-{{theservice | downcase | replace: ' ', '-'}}" class="no-margin-below filter"><a href="#{{theservice | downcase | replace: ' ', '-'}}">{{theservice}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
 -->

</div>
</div>
{% include featured-work.html %}

<section class="ph3 ph0-l mw7-ns center bt b--light-gray pb6">
  <h2 class="f3 ttu fw4 ttu tracked mt5 mb2">Selected work</h2>
  <p class="i light-silver m0">Made with the help of many.</p>

  {% for post in site.work reversed %}

  <article class="{% for service in post.services %}{{service | downcase | replace: ' ', '-'}} {% endfor %}">
    <p class="f6 fw4 light-silver pb0 mb0 mt2">{{ post.date | date: "%Y"  }}</p>
    <h1 class="f2 lh-title mt0 mb2"><a href="{{ post.url }}" class="primary dim no-underline">{{ post.title }}</a>
    </h1>
    <p class="i light-silver m0">{{ post.excerpt }}</p>
  </article>

  {% endfor %}
</section>

<!--

<script>
var currentHashNav = null;

//Call this, passing it a callback function
function initHashNav(callback) {
  if (!callback) return false;

  if (typeof callback !== "function") {
    throw "Sorry, that url does not exist. Please try again.";
    return false;
  }

  if ("onhashchange" in window) {
      window.onhashchange = function(){checkHash(callback);};
  } else {
      setInterval(function(){checkHash(callback);}, 100);
  }

  checkHash(callback);
}

//Function called onhashchange or on loop (for older browsers)
function checkHash(callback) {
  if (window.location.hash.replace(/^#/i,"") !== currentHashNav) {
    var newHash = window.location.hash.replace(/^#/i,"");

    var chopped = chopHash(newHash);
    callback(chopped);

    currentHashNav = newHash;
  }
}

function chopHash(hash) {
  //Do something with the new hash
  var hash = {
    raw: hash,
    base: decodeURIComponent(hash),
    parameters: null
  }

  return hash;
}

// helper function for querySelectorAll
var forEach = function (array, callback, scope) {
  for (var i = 0; i < array.length; i++) {
    callback.call(scope, i, array[i]); // passes back stuff we need
  }
};

// helper function for hasClass
Element.prototype.hasClass = function(className) {
    return this.className && new RegExp("(^|\\s)" + className + "(\\s|$)").test(this.className);
};

function updateNav(hash) {
  var hashValue = hash.raw;
  var removeCurrent = document.querySelectorAll('#filter .currentwork');

  forEach(removeCurrent, function (index, value) {
    value.classList.remove('currentwork');
    value.classList.add('no-margin-below');
  });

  var navValue = document.getElementById('nav-country-' + hashValue);
  navValue.setAttribute("class", "currentwork");

  if (!hashValue || 0 === hashValue.length) {
        var showAllHidden = document.querySelectorAll('#list article.hidden');
        forEach(showAllHidden, function (index, value) {
          value.classList.remove('hidden');
        });
    } else {
            var allArticles = document.querySelectorAll('#list article');
            forEach(allArticles, function (index, value) {
            if (value.hasClass(hashValue)) {
                value.classList.remove('hidden');
            } else {
                value.classList.add('hidden');
            }
        });
    }
}

initHashNav(updateNav);
</script>

<style>

.hidden {
  display: none;
}

</style>

 -->