.page-head {
  @include gs-span(d, 1);
  padding-top: 8em;
  padding-left: 2em;
  padding-right: 2em;

   @include respond-to(tablet) { 
    @include gs-span(m, 2);
    clear:both;
    padding-top: $half-spacing-unit;
    padding-left: 0;
    padding-right: 0; 
  }

}


.navigation {
	@extend .nav;
	@extend .nav--stacked;	
}
