.main {
  @include gs-span(d, 2, 5);
  padding-top: 8em;
  margin-right: 1em;
  border-left: 1px solid #E2E2E2;
}


.content {
  @include gs-span(d, 3, 5, (2, 5));
  padding-right: 4em;
 }

.content-list {
  @include gs-span(d, 4, 5, (2, 5));
  padding-right: 4em;
 }

 p {
 	font-size: $h5-size;
 }

 .margin-below-half {
 	margin-bottom: $half-spacing-unit;
 }

 .grey {
 	color: $watf-grey; 
 }

 .post {
 	margin-bottom: $base-spacing-unit;
 }