.main {
  @include gs-span(d, 2, 5);
  padding-top: 8em;
  margin-right: 1em;
  border-left: 1px solid #E2E2E2;

  @include respond-to(tablet) { 
    @include gs-span(m, all);
    padding-top: 2*($base-spacing-unit);
    padding-bottom: 2*($base-spacing-unit);
    margin-right: 0;
    border-left: none;
    clear:both;
    border-top: 1px solid #E2E2E2;
    }
}


.content {
  @include gs-span(d, 3, 5, (2, 5));
  padding-right: 4em;

  @include respond-to(tablet) { 
    @include gs-span(m, 2);
    padding-right: 0;
   
    }
 }

.content-list {
  @include gs-span(d, 4, 5, (2, 5));
  padding-right: 4em;

  @include respond-to(tablet) { 
    @include gs-span(m, 2);
    padding-right: 0; 
    text-align: center;
    }

 }

.page-header {
    @include respond-to(tablet) { 
    text-align: center;
    }
}

.summary {
  @extend .zeta;

  @include respond-to(tablet) { 
    margin-bottom: $half-spacing-unit;
    }

}

.date {
  @extend .epsilon;
  @extend .italic;
  @extend .grey;
  @extend .margin-below;
}

.main-content {
 	font-size: $h5-size;
 }

.margin-below-quarter {
 	margin-bottom: ($half-spacing-unit)/2;
 }

 .margin-below-half {
 	margin-bottom: $half-spacing-unit;
 }

 .margin-below {
 	margin-bottom: $base-spacing-unit;
 }

  .margin-below-double {
 	margin-bottom: 2*($base-spacing-unit);
 }

 .grey {
 	color: $watf-grey; 
 }

 .post {
 	margin-bottom: $base-spacing-unit;
 }

 .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 2*($base-spacing-unit);
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img {
	margin-top: $base-spacing-unit;
 	margin-bottom: $base-spacing-unit;
 }