
// Converted Variables


// Custom Media Query Variables


/*

   LISTS
   http://tachyons.io/docs/elements/lists/

*/

.list {         list-style-type: none; }
.post ol {      list-style-type: decimal; }
.post ul {      list-style-type: disc; }
