
// Converted Variables


// Custom Media Query Variables


/*

   LISTS
   http://tachyons.io/docs/elements/lists/

*/

.list {         list-style-type: none; }
.post ol, .work-main ol, .main ol {      list-style-type: decimal; }
.post ul, .work-main ul, .main ul {      list-style-type: disc; }
