/*

  STYLES

  Add custom styles here.

*/

.skip {
      position: absolute;
      top: -1000px;
      left: -1000px;
      height: 1px;
      width: 1px;
      text-align: left;
      overflow: hidden;
  }

  a.skip:active,
  a.skip:focus,
  a.skip:hover {
      left: 0;
      top: 0;
      width: auto;
      height: auto;
      overflow: visible;
  }

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}


.main {
  @include breakpoint(small) {
    @include gs-span(m, 2);
  }

  @include breakpoint(medium) {
    @include gs-span(t, 2, 6);
  }

  @include breakpoint(large) {
    @include gs-span(d, 3, 7);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: $primary-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

p, ul, ol, .message {
    @extend .f4;
    @extend .lh-copy;
    @extend .serif;
    @extend .pb4;
    @extend .measure;
}

.message {
  @extend .bg-dark-gray;
  @extend .near-white;
  @extend .pa4;
  @extend .mb4;
}

.work-content p {
  @extend .pb3;
}

p a, li a {
  @extend .primary;
  @extend .dim;
  @extend .underline;
}

.message a {
  @extend .near-white;
  @extend .dim;
  @extend .underline;
}

.post h2 {
  @extend .f3;
  @extend .pb3;
}

.post h3 {
  @extend .f4;
  @extend .pb2;
}

.post hr, .work-main hr {
  position: relative;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
  border-style: solid none none;
  border-width: 3px medium medium;
  margin: 2em auto;
  max-width: 10em;
}

.post a, .work-main a {
  @extend .dont-break-out;
}

.work-main h2 {
  @extend .f3;
  @extend .pb1;
  @extend .ttu;
  @extend .tracked;
  @extend .cb;
}

.work-main p, .work-main aside, .work-main h2, .work-main ol, .work-main ul,   {

  @include breakpoint(small) {
    @include gs-span(m, 2);
  }

  @include breakpoint(medium) {
    @include gs-span(t, 2, 6);
  }

  @include breakpoint(large) {
    @include gs-span(d, 3, 7);
  }

  clear:both;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    @extend .pt6;
    @extend .mb4;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    clear: both;
  }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.dash > li:before {
  content: '\2014'; /* en dash here */
  position: absolute;
  margin-left: -1.1em;
}

ul.dash {
  list-style-type: none;
}

.current {
  text-decoration: none;
  position: relative;
}

.current:after  {
  @extend .primary;
  content: "";
  border-style: solid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -$spacing-small;
  border-width: 1px;
}

figcaption:before {
  content: '↑';
  @extend .mr2;
}

blockquote {
  @extend .f4;
  @extend .pl4;
  @extend .mb4;
  @extend .i;
  @extend .mid-gray;
  @extend .bl;
  @extend .bw2;
  @extend .b--silver;
}

blockquote p:last-child {
  padding-bottom: 0;
}

cite {
  @extend .f6;
  @extend .ttu;
  @extend .tracked;
  @extend .fs-normal;
}

.firstcharacter {
  display: block;
  float: left;
  font-size: 6rem;
  line-height: 1;
  margin: -10px 6px -20px 3px;
}

//_border-colors
.b--primary { border-color: $primary-color }
.b--secondary { border-color: $secondary-color; }
.b--customgrey { border-color: $grey-color; }

.b--primary:after { border-color: $primary-color }
.b--secondary:after { border-color: $secondary-color; }
.b--customgrey:after { border-color: $grey-color; }

//_skins
.primary { color: $primary-color }
.secondary { color: $secondary-color; }
.customgrey { color: $grey-color; }

//also using .light-silver

.bg-primary { background-color: $primary-color }
.bg-secondary { background-color: $secondary-color; }
.bg-customgrey { background-color: $grey-color; }

//skins-pseudo

.hover-primary:hover { color: $primary-color; }
.hover-primary:focus { color: $primary-color; }


//_max-widths
.mw4-5  {  max-width: 12rem; }

// columns

.col2 {
  column-count: 2;
  column-gap: 2em;
}

.highlighter-rouge {
  @extend .pa4;
  @extend .bg-black;
  @extend .mb4;
  @extend .white;
  @extend .lh-copy;
}


