<div class="cf w-100">
    <div class="fl w-50 w-third-m w-25-ns">
        <a href="/writing/a-walker-in-the-city/">
            <div class="aspect-ratio aspect-ratio--5x8">
                <div style="background-image:url(/images/writing-last-word.jpg);"
                    class="bg-center cover aspect-ratio--object dim"></div>
            </div>
        </a>
    </div>

    <div class="fl w-50 w-third-m w-25-ns">
        <a href="/writing/silent-disco-a-quiet-night-out/">
            <div class="aspect-ratio aspect-ratio--5x8">
                <div style="background-image:url(/images/writing-silentdisco.jpg);"
                    class="bg-center cover aspect-ratio--object dim"></div>
            </div>
        </a>
    </div>
    <div class="fl w-50 w-third-m w-25-ns">
        <a href="/writing/peter-sanders/">
            <div class="aspect-ratio aspect-ratio--5x8">
                <div style="background-image:url(/images/writing-sanders.jpg);"
                    class="bg-center cover aspect-ratio--object dim"></div>
            </div>
        </a>
    </div>
    <div class="fl w-50 w-third-m w-25-ns">
        <a href="/writing/martin-parr">
            <div class="aspect-ratio aspect-ratio--5x8">
                <div style="background-image:url(/images/writing-martinparr.jpg);"
                    class="bg-center cover aspect-ratio--object dim"></div>
            </div>
        </a>
    </div>
</div>