<section class="cf center ph3 ph4-ns pb5-l pt3">

    <article class="fl w-100 w-33-l pa3-ns pb3 pb0-l">
        <a href="/work/amnesty-2016">
            <div class="aspect-ratio aspect-ratio--1x1">
                <img style="background-image:url('/images/work-amnesty-3-square.jpg');"
                    class="db bg-center cover aspect-ratio--object dim" />
            </div>
        </a>
        <a href="/work/amnesty-2016" class="link db dim">
            <h3 class="f5 mt3 mb0 fw4 ttu tracked">Amnesty Death Penalty Maps</h3>
        </a>
        <p class="f6 fw4 mt1 mid-gray pb3">2017 </p>

    </article>

    <article class="fl w-100 w-33-l pa3-ns pb3 pb0-l">
        <a href="/work/bbc-pilot">
            <div class="aspect-ratio aspect-ratio--1x1">
                <img style="background-image:url('/images/work-bbc-square.jpg');"
                    class="db bg-center cover aspect-ratio--object dim" />
            </div>
        </a>
        <a href="/work/bbc-pilot" class="link db dim">
            <h3 class="f5 mt3 mb0 fw4 ttu tracked">BBC Connected Studio</h3>
        </a>
        <p class="f6 fw4 mt1 mid-gray pb3">2013</p>

    </article>


    <article class="fl w-100 w-33-l pa3-ns pb3 pb0-l">
        <a href="/work/icc-alpha">
            <div class="aspect-ratio aspect-ratio--1x1">
                <img style="background-image:url('/images/work-icc-alpha-square.jpg');"
                    class="db bg-center cover aspect-ratio--object dim" />
            </div>
        </a>
        <a href="/work/icc-alpha" class="link db dim">
            <h3 class="f5 mt2 mb0 fw4 ttu tracked">International Criminal Court</h3>
        </a>
        <p class="f6 fw4 mt1 mid-gray pb3">2014 </p>

    </article>

</section>