<head>
  <!-- Basic page needs -->
  <meta charset="utf-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <!-- Enable responsiveness on mobile devices-->
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Inline critical css -->
  <style type="text/css">{% include critical.css %}</style>

  <!-- Styles -->
  <script>
    function loadCSS(e,t,n){"use strict";function r(){for(var t,i=0;i<d.length;i++)d[i].href&&d[i].href.indexOf(e)>-1&&(t=!0);t?o.media=n||"all":setTimeout(r)}var o=window.document.createElement("link"),i=t||window.document.getElementsByTagName("script")[0],d=window.document.styleSheets;return o.rel="stylesheet",o.href=e,o.media="only x",i.parentNode.insertBefore(o,i),r(),o}
    // load a file
    loadCSS( "/css/styles.css");
  </script>

  <noscript><link href="/css/styles.css" rel="stylesheet"></noscript>

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">

   {% seo %}

</head>
