///*------------------------------------*\
//    #MIXINS
//\*------------------------------------*/

//media queries

@mixin breakpoint($breakpoint, $media: all) {

	// Change these values as required
	$small: 320px / 16px * 1em;
	$medium: 569px / 16px * 1em;
	$large: 1023px / 16px * 1em;

	@if $breakpoint == small {
		@media only #{$media} and (min-width: $small) {
			@content;
		}
	} @else if $breakpoint == medium {
		@media only #{$media} and (min-width: $medium) {
			@content;
		}
	} @else if $breakpoint == large {
		@media only #{$media} and (min-width: $large) {
			@content;
		}
	}
}
