$root-font-size: 21px;
$root-line-height: 1.5;
$body-color: #212121;
$body-bg: #fff;
$primary-color: #607D8B;
$secondary-color: #f2dc00;
$secondary-alt-color: #678290;
$grey-color: #eeeff0;

$breakpoint-not-small: 'screen and (min-width: 30em)' !default;
$breakpoint-medium: 'screen and (min-width: 30em) and (max-width: 50em)' !default;
$breakpoint-large: 'screen and (min-width: 50em)' !default;


