// Body resets

// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $inuit-body-font;

  @include breakpoint(small) {
		font-size: $inuit-heading-size-5; // 1.1em
  	line-height: $inuit-heading-size-3; // 1.4em
	}

	@include breakpoint(medium) {
		font-size: $inuit-heading-size-4; //1.3125em
  	line-height: $inuit-heading-size-2; //1.52381em
	}

	@include breakpoint(large) {
		 font-size: $inuit-heading-size-4; //1.3125em
  	 line-height: $inuit-heading-size-2; //1.52381em
	}
}

// ratio: 1.1609981
body {
  color: $textPrimaryColor;
  background-color: $backgroundColor;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

