// Body resets

// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $inuit-body-font;

  @include breakpoint(small) {
		font-size: $inuit-heading-size-5; // 1.1em
  	line-height: $inuit-heading-size-3; // 1.4em
	}

	@include breakpoint(medium) {
		font-size: $inuit-heading-size-4; //1.3125em
  	line-height: $inuit-heading-size-2; //1.52381em
	}

	@include breakpoint(large) {
		 font-size: $inuit-heading-size-4; //1.3125em
  	 line-height: $inuit-heading-size-2; //1.52381em
	}
}

// ratio: 1.1609981
body {
  color: $textPrimaryColor;
  background-color: $backgroundColor;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// Images

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 741px;
  text-align: center;
}

img {
	font-style: italic;
	color: $inuit-base-grey-color-4;
	@include inuit-font-size($inuit-heading-size-3);
}

figure {
	margin: 0 0 1rem;
}

figcaption {
	@include inuit-font-size($inuit-heading-size-6);
	font-style: italic;
	color: $inuit-base-grey-color-4;
}

figcaption:before {
	content: '↑';
	margin-right: $inuit-base-spacing-unit--smallest;
	font-style: normal;
}

.button {
	background-color: transparent;
  border: 1px solid #484b48;
  border-radius: 3px;
  color: #484b48;
  margin: 0;
  outline: medium none;
  padding: 1em 1.2em;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease-in-out 0s;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
    background-color: #484b48;
    color: #fff;
    text-shadow: none;
    text-decoration: none;
}
.button:active {
    border-color: black;
    text-decoration: none;
}



// Tables

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.box {
	padding-left: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.grey-1 {
	background-color: $lightPrimaryColor;
}

.grey-2 {
	background-color: $inuit-base-grey-color-2;
}

.grey-3 {
	background-color: $inuit-base-grey-color-3;
}

.grey-4 {
	background-color: $inuit-base-grey-color-4;
}

.link {
	background-color: $linkColor;
}

.hover {
	background-color: $hoverColor;
}

