// Body resets

// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  @include breakpoint(small) {
		font-size: $inuit-heading-size-5;
  	line-height: ($inuit-base-line-height/$inuit-heading-size-3);
	}

	@include breakpoint(medium) {
    font-size: $inuit-base-font-size;
     line-height: ($inuit-base-line-height/$inuit-base-font-size);
	}

	@include breakpoint(large) {
		 font-size: $inuit-base-font-size;
  	 line-height: ($inuit-base-line-height/$inuit-base-font-size);
	}
}

// ratio: 1.1609981
/* body {
  font-family: $inuit-body-font;
  color: $textPrimaryColor;
  background-color: $backgroundColor;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

*/
