// Footer

footer {
  clear: both;
  @include inuit-font-size($inuit-heading-size-6, 1.4);
}

.summary {
	background-color: $inuit-base-grey-color-3;
	padding: $inuit-base-spacing-unit;
	height: 15rem;
	display: flex;

	@include breakpoint(small) {
		@include gs-span(m, all);
		padding-bottom: 6*$inuit-base-spacing-unit;
	}

	@include breakpoint(medium) {
		width: 50%;
	}

	@include breakpoint(large) {
		width: 50%;
	}
}

.copyright {
	padding-top: $inuit-base-spacing-unit;
}

.elsewhere {
	background-color: $lightPrimaryColor;
	padding: $inuit-base-spacing-unit;
	height: 15rem;
	display: flex;

	@include breakpoint(small) {
		@include gs-span(m, all);
		clear:both;
	}

	@include breakpoint(medium) {
		width: 50%;
		clear:none;
	}

	@include breakpoint(large) {
		width: 50%;
		clear:none;
	}
}

.elsewhere ul {
	list-style: outside none none;
	padding: 0;
  @include rem(padding-left, $inuit-base-spacing-unit);
  @include rem(margin-bottom, $inuit-base-spacing-unit--small);
}
