// Home

.page-heading-caps {
	@include inuit-font-size($inuit-heading-size-2);
	@include rem(padding-top, $inuit-base-spacing-unit);
	margin: 0;
  @include rem(margin-bottom, $inuit-base-spacing-unit--smallest);
	letter-spacing: 2px;
  text-transform: uppercase;
}

ul.home-list, ol.home-list {
	width: 100%;
	clear: both;
	margin: 0;
	list-style: outside none none;
	padding-bottom: $inuit-base-spacing-unit;
}
