// Home

.page-heading-caps {
	@include inuit-font-size($inuit-heading-size-2);
	padding-top: $inuit-base-spacing-unit;
	margin: 0;
	margin-bottom: $inuit-base-spacing-unit--smallest;
	letter-spacing: 2px;
  text-transform: uppercase;
}  

.extra-top-padding {
	padding-top: $inuit-base-spacing-unit--large;
}

ul.home-list, ol.home-list {
	width: 100%;
	clear: both;
	margin: 0;
	list-style: outside none none;
	padding-bottom: $inuit-base-spacing-unit;
}