// Images

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 741px;
  text-align: center;
}

img {
  font-style: italic;
  color: $inuit-base-grey-color-4;
  @include inuit-font-size($inuit-heading-size-3);
}

figure {
  margin: 0 0 1rem;
}

figcaption {
  @include inuit-font-size($inuit-heading-size-6);
  font-style: italic;
  color: $inuit-base-grey-color-4;
}

figcaption:before {
  content: '↑';
  margin-right: $inuit-base-spacing-unit--smallest;
  font-style: normal;
}
