// Masthead and navigation 

header {
	position: fixed;
  top: 0;
  z-index: 1;
  background: #fff;
  @include inuit-font-size($inuit-heading-size-4);
  font-family: $inuit-heading-font;
  font-weight: normal;
  color: $lightPrimaryColor;

  @include breakpoint(small) { 
		@include gs-span(m, all); 
	}

	@include breakpoint(medium) { 
		@include gs-span(t, 5, 7); 
	}

  @include breakpoint(large) { 
		@include gs-span(d, 7, 9); 
	}
}

.breadcrumb {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: $inuit-base-spacing-unit--small;

	@include breakpoint(medium) { 
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}

	@include breakpoint(large) { 
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}
}

#the-nav {
	position: absolute;
	top: -180px;
	width: 100%;
  background: #fff;

  @include breakpoint(medium) { 
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}

  @include breakpoint(large) { 
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}
}

.open {
	
	@include breakpoint(small) { 
		top: 60px !important;
	}

	@include breakpoint(medium) { 
		top: 65px !important;
	}

  @include breakpoint(large) { 
		top: 65px !important;
	}
}

.button-open:after {
	content: " ↓ ";
	cursor: pointer;
	float: right;
	padding-right: $inuit-base-spacing-unit--small;
}

.button-close:after {
	content: " ↑ ";
	cursor: pointer;
	float: right;
	padding-right: $inuit-base-spacing-unit--small;
}

.nav {
    list-style:none;
    margin-left:0;
    padding-left: $inuit-base-spacing-unit--small;
    padding-top: $inuit-base-spacing-unit--small;
    padding-bottom: $inuit-base-spacing-unit--small;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    > li {
			display:list-item;
				> a {
				display:block;
				padding-top: $inuit-base-spacing-unit / 12;
			}
    }
}

#the-nav ul {
	margin-bottom: 0;
	width: 100%;
}

#the-nav ul li:before {
    content: "";
    margin: 0;
}

nav a, .breadcrumb a, .button-open:after, .button-close:after {
    color: $lightPrimaryColor;
}    

nav a:hover, .breadcrumb a:hover, {
    color: $linkColor;
    text-decoration: none;
}  