// Misc

.no-margin {
	margin: 0;
}

.no-margin-top {
	margin-top: 0;
}

.margin-below-half {
	margin-bottom: $inuit-base-spacing-unit--small;
}

.margin-below-quarter {
	margin-bottom: $inuit-base-spacing-unit--smallest;
}

.padding-above {
	padding-top: $inuit-base-spacing-unit;
}

.padding-below {
	padding-bottom: $inuit-base-spacing-unit;
}

.padding-below-half {
	padding-bottom: $inuit-base-spacing-unit--small;
}

.padding-below-quarter {
	padding-bottom: $inuit-base-spacing-unit--smallest;
}

.centre {
	text-align: center;
}

.clear {
	clear:both;
}

.container-old {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

.grey-1 {
  background-color: $lightPrimaryColor;
}

.grey-2 {
  background-color: $inuit-base-grey-color-2;
}

.grey-3 {
  background-color: $inuit-base-grey-color-3;
}

.grey-4 {
  background-color: $inuit-base-grey-color-4;
}

.link {
  background-color: $linkColor;
}

.hover {
  background-color: $hoverColor;
}

.main {
	padding-top: $inuit-base-spacing-unit--large;
	padding-bottom: $inuit-base-spacing-unit--large;

	@include breakpoint(small) {
		@include gs-span(m, 2);
	}

	@include breakpoint(medium) {
		@include gs-span(t, 2, 6);
	}

	@include breakpoint(large) {
		@include gs-span(d, 3, 7);
	}

}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: $inuit-base-spacing-unit--large;
    margin-bottom: $inuit-base-spacing-unit;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    clear: both;
  }

  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

