// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 4em;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: $inuit-base-spacing-unit;
  margin-bottom: 0;
}

// Meta data line below post title
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}


.next-previous-post {
	padding-bottom: $inuit-base-spacing-unit*2;
	@include inuit-font-size($inuit-heading-size-6, 22px);
  text-transform: capitalize;
  font-family: $inuit-heading-font;
  font-weight: normal;
}

.previous-post {
	float: left;
	width: 50%;
}

.next-post {
	float: right;
	width: 50%;
	text-align: right;
}