
// Typography
// Heading, Body text, lists, and other misc typographic elements.

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Headings 1–6, with corresponding Greek-alphabet abstract classes for double-
 * stranded heading hierarchy: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 */

h1, h2, h3, h4, h5, h6 {
  font-family: $inuit-heading-font;
  font-weight: normal;
  color: $textPrimaryColor;
}

h1,
.alpha {
    @include inuit-font-size($inuit-heading-size-1);
}

h2,
.beta {
    @include inuit-font-size($inuit-heading-size-2, 1.2);
}

h3,
.gamma {
    @include inuit-font-size($inuit-heading-size-3);
}

h4,
.delta {
    @include inuit-font-size($inuit-heading-size-4);
}

h5,
.epsilon {
    @include inuit-font-size($inuit-heading-size-5);
}

h6,
.zeta {
    @include inuit-font-size($inuit-heading-size-6);
}


// Body text
p {
  margin-top: 0;
  @include rem(margin-bottom, $inuit-base-spacing-unit);

  @include breakpoint(small) {
    @include inuit-font-size($inuit-base-font-size,($inuit-base-line-height/$inuit-heading-size-3));
  }

  @include breakpoint(medium) {
    @include inuit-font-size($inuit-base-font-size);
  }

  @include breakpoint(large) {
    @include inuit-font-size($inuit-base-font-size);
  }
}

strong {
  color: #303030;
}

// Lists
ul, ol, dl {
  margin-top: 0;
  @include rem(margin-bottom, $inuit-base-spacing-unit);
  padding-left: 0;
}

li {
  @include rem(margin-bottom, $inuit-base-spacing-unit--small);
}

ul li:before {
    content: "– ";
    margin-left: -$inuit-base-spacing-unit--small;
}

ul {
  list-style: outside none;
}


dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

// Misc
hr {
  position: relative;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
  border-style: solid none none;
  border-width: 3px medium medium;
  margin: 2em auto;
  max-width: 10em;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Quotes */
blockquote {
  color: $inuit-base-grey-color-2;
  border-left: 0.25rem solid $lightPrimaryColor;
  clear:both;
  margin: 0;
}

blockquote p {
  margin-left: $inuit-base-spacing-unit--small;
  font-style: italic;
}

time {
  color: $lightPrimaryColor;
  @include inuit-font-size($inuit-heading-size-5);
  display: block;
  font-family: $inuit-heading-font;
}

// Custom type

// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.firstcharacter {
  display: block;
  float: left;
  @include inuit-font-size(108px, 1);
  margin: -10px 6px -20px 3px;
}

.arrow {
    cursor: pointer;
    margin-left: 6px;
    margin-right: auto;
    transform: rotate(90deg);
    transition: all 0.4s ease 0s;
}



