// Work list

//.page-heading-caps is in home.scss

.content-list {
	padding-bottom: $inuit-base-spacing-unit;
}

.work-article {
	padding-top: $inuit-base-spacing-unit;
	padding-bottom: $inuit-base-spacing-unit;
	border-top: 1px solid $inuit-base-grey-color-4;
}

.work-title {
	@include inuit-font-size($inuit-heading-size-2);
	margin: 0;
	margin-bottom: $inuit-base-spacing-unit--smallest;
}

.work-excerpt {
	font-style: italic;
	margin: 0;
	color: $inuit-base-grey-color-2;
	@include inuit-font-size($inuit-heading-size-4);
}

.navigation {
    list-style:none;
    margin-left:0;
    margin-bottom: 0;

    > li{
    	list-style: none;
    	padding-right: $inuit-base-spacing-unit--smallest;

        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
        }
    }
}

ul#filter li::before {
    content: " ";
    margin-left: 0;
}

.current {
  margin-bottom: 0;
}

.current a {
	text-decoration: none;
}

// Work single

.work-main {
  @include rem(padding-top, $inuit-base-spacing-unit--large);
  @include rem(padding-bottom, $inuit-base-spacing-unit);
}

.work-main-title {
	@include breakpoint(small) {
		@include gs-span(m, 2);
		line-height: 1.15em;
	}

	@include breakpoint(medium) {
		@include gs-span(t, 2, 6);
	}

	@include breakpoint(large) {
		@include gs-span(d, 3, 7);
	}
	text-align: center;
	padding-top: $inuit-base-spacing-unit--large;
  padding-bottom: $inuit-base-spacing-unit;
}

.work-main-excerpt {
	font-style: italic;
	color: $lightPrimaryColor;
	@include inuit-font-size($inuit-heading-size-2, 1.2);
	text-align: center;
}



.work-main blockquote {
	margin-bottom: $inuit-base-spacing-unit;
}

.work-main blockquote p {
	margin: 0;
	margin-left: $inuit-base-spacing-unit;
	width: 90%;
}

.work-main h2 {
	letter-spacing: 2px;
  text-transform: uppercase;
  @include rem(margin-top, $inuit-base-spacing-unit);

	@include breakpoint(small) {
		@include gs-span(m, 2);
	}

	@include breakpoint(medium) {
		@include gs-span(t, 2, 6);
	}

	@include breakpoint(large) {
		@include gs-span(d, 3, 7);
	}
	clear: both
}

.services {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
}

.services__list:before {
    content: "";
    margin-left: 0;
}

.services__list {
  margin-bottom: 0;
}

.meta-header {
	margin-top: $inuit-base-spacing-unit;
	margin-bottom: $inuit-base-spacing-unit--smallest;
}

.next-previous {
	padding: $inuit-base-spacing-unit;
	padding-bottom: $inuit-base-spacing-unit*2;
	letter-spacing: 2px;
  text-transform: uppercase;
  font-family: $inuit-heading-font;
  font-weight: normal;

  @include inuit-font-size($inuit-heading-size-6);

	@include breakpoint(small) {
		@include gs-span(m, 2);
	}

	@include breakpoint(medium) {
		@include gs-span(t, 2, 6);
	}

	@include breakpoint(large) {
		@include gs-span(d, 3, 7);
	}

	clear:both;
}

.previous-link {
	float: left;
}

.next-link {
	float: right;
}
