---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date padding-below">{{ page.date | date_to_string }}</time>

  {% assign result = page.date | date: "%m-%y" %}

	{% if page.top_image %}

		<figure class="post_image">
		<img src="/images/{{ page.top_image }}" alt="{{ page.top_image_caption }}">
			<figcaption>{{ page.top_image_caption }}</figcaption>
		</figure>

	{% endif %}

	{% for goal in site.data.month_reports %}
		{% if goal.date == result %}

				{% if goal.summary %}

					<h2>Summary</h2>
					<p>{{goal.summary}}</p>

				{% endif %}

				{% if goal.prev_goal %}

					<h2>Outcome of last month's goal</h2>
					<p>{{goal.prev_goal}}</p>

				{% endif %}

				{% if goal.new_goal %}

					<h2>New goal</h2>
					<p>{{goal.new_goal}}</p>

				{% endif %}

			{% endif %}
	{% endfor %}

	<hr>

  {{ content }}

  {% for film in site.data.films %}

			{% if film.date == result %}
				{% assign therearefilms = "true" %}
			{% endif %}
	{% endfor %}

	{% if therearefilms == "true" %}
	<h2>Films I enjoyed</h2>
	<ul>
		{% for film in site.data.films %}
			{% if film.date == result %}
				<li>{{ film.title }}</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}

	{% for book in site.data.books %}
	{% if book.date == result %}
		{% assign therearebooks = "true" %}
	{% endif %}
	{% endfor %}

	{% if therearebooks == "true" %}
	<h2>Books I enjoyed</h2>
		<ul>
			{% for book in site.data.books %}
				{% if book.date == result %}
				  <li><em>{{ book.title }}</em> by {{ book.author }}
				  </li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}

</article>

{% include article-next-previous.html %}
