---
layout: wide
---

<article class="work-main">
  <h1 class="work-main-title">{{ page.title }}</h1>

  <hr class="clear">

  <p class="work-main-excerpt">{{ page.excerpt }}</p>

  {{ content }}

</article>

<aside class="meta centre clear delta padding-above">
  <h2 class="meta-header">Year</h2>
  {{ page.date | date: '%Y' }}

  <h2 class="meta-header">My role</h2>
  <ul class="services">
    {% for services in page.services %}
      <li class="services__list">{{ services }}</li>
    {% endfor %}
  </ul>
</aside>

<!-- Within category next/previous without a plugin -->
<aside class="next-previous">
{% for post in site.categories.work %}
  {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
  {% endif %}
{% endfor %}
  {% for post in site.categories.work %}
      {% if post_index0 == forloop.index %}
          {% assign next_post = post.url %}
      {% endif %}
      {% if post_index1 == forloop.index0 %}
          {% assign prev_post = post.url %}
      {% endif %}
  {% endfor %}
   {% if prev_post %}
      <a href="{{ prev_post }}" class="previous-link">↫ previous</a>
  {% endif %}
  {% if next_post %}
      <a href="{{ next_post }}" class="next-link">next ↬</a>
  {% endif %}
</aside>


